    <h2 id = "abouttitle">About Stulist</h2>
    <article id = "about">
    <ol id = "faqdirectory">
        <li><a href = "#one">What is Stulist?</a></li>
        <li><a href = "#two">What services are offered?</a></li>
        <li><a href = "#three">Who is Stulist made for?</a></li>
        <li><a href = "#four">Who made Stulist?</a></li>
    </ol>
    <dl id = "faq">
        <dt><a id = "one">What is Stulist?</a></dt>
            <dd>insert stulist description here...</dd>
            <a href = "#stulist">return to top</a>
        <dt><a id = "two">What services are offered by Stulist?</a></dt>
            <dd>insert services description here...</dd>
            <a href = "#stulist">return to top</a>
        <dt><a id = "three">Who is Stulist made for?</a></dt>
            <dd>insert target audience here...</dd>
            <a href = "#stulist">return to top</a>
        <dt><a id = "four">Who made Stulist?</a></dt>
            <dd>insert creators here...</dd>
            <a href = "#stulist">return to top</a>
    </dl>
    </article>
