        <nav class = "row">
            <div class="navbar" id = "topnav">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="about.html">About/FAQ</a></li>
                    <li><a href="browse.html">Browse</a></li>
                    <li><a href="myaccount.html">My Account</a></li>
                    <li><a href="advancesearch.html">Advanced Search</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </nav>

        <section id = "about" class="row">
            <section id = "aboutcontent" class= "row">
                <!--FAQ-->
                <section id = "faqholder" class = "row">
                    <h2 class = "span12"> Frequently Asked Questions</h2>
                    
                    <dl id = "faq" class = "span8">
                        <dt>What is Stulist?</dt>
                            <dd>
                                fjksdaskdfaskafasasf;jafdasfdjk;asddfkj;as
                                fdadf;asdfjajfkasdfasfdadasfasfdasfasdfsafdsafd
                            </dd>
                        <dt>What services are offered?</dt>
                            <dd>
                                fjksdaskdfaskafasasf;jafdasfdjk;asddfkj;as
                                fdadf;asdfjajfkasdfasfdadasfasfdasfasdfsafdsafd
                            </dd>
                        <dt>Who is Stulist made for?</dt>
                            <dd>
                                fjksdaskdfaskafasasf;jafdasfdjk;asddfkj;as
                                fdadf;asdfjajfkasdfasfdadasfasfdasfasdfsafdsafd
                            </dd>
                        <dt>Who made Stulist?</dt>
                            <dd>
                                fjksdaskdfaskafasasf;jafdasfdjk;asddfkj;as
                                fdadf;asdfjajfkasdfasfdadasfasfdasfasdfsafdsafd
                            </dd>
                    </dl>
                </section>
                <!--End FAQ-->
                
                <!--About-->
                <section id = "aboutsection" class = "row">
                    <h2 class = "span12"> About Us</h2>
                </section>
                <!--End About-->
                
            </section>
        </section>
