        <nav class = "row">
            <div class="navbar" id = "topnav">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li class="active" ><a href="/">Home</a></li>
                    <li><a href="about.html">About/FAQ</a></li>
                    <li><a href="browse.html">Browse</a></li>
                    <li><a href="myaccount.html">My Account</a></li>
                    <li><a href="advancesearch.html">Advanced Search</a></li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </nav>

        <section id = "home" class="row">
            <section id = "homecontent" class="row">
            	<p> Home Page </p>
			</section>
        </section>

